{% extends 'core/base.html' %}
{% block title %}Entrar — ResolveAqui{% endblock %}

{% block content %}
  <div class="container d-flex justify-content-center mt-5" style="max-width:980px;">
    <div class="card shadow-sm" style="max-width:760px; width:100%;">
      <div class="card-body p-4">
        <div class="d-flex align-items-center mb-3">
          <a href="{% url 'core:home' %}" class="btn btn-sm btn-outline-secondary me-3">
            <i class="bi bi-arrow-left"></i>
          </a>
          <div>
            <h1 class="card-title mb-0 h4">Entrar</h1>
            <p class="text-muted small mb-0">Use suas credenciais para acessar o sistema.</p>
          </div>
        </div>
        <form method="post" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          {% if form and form.non_field_errors %}
            <div class="alert alert-danger">
              {% for err in form.non_field_errors %}{{ err }}{% endfor %}
            </div>
          {% endif %}

          <div class="mb-3">
            <label for="id_email" class="form-label required">Email</label>
            <input id="id_email" name="email" type="email" class="form-control form-control-lg" required value="{{ request.POST.email|default:'' }}" />
            {% if form and form.errors.email %}
              <div class="text-danger small">{{ form.errors.email.0 }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_password" class="form-label required">Senha</label>
            <input id="id_password" name="password" type="password" class="form-control form-control-lg" required />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right me-2"></i>Entrar</button>
           <p class="small">Não tem conta? <a href="{% url 'accounts:signup' %}" class="small"> Cadastre-se</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
